doctype html
html(lang=config.language)
  include _partial/head.pug
  body
    include _partial/header.pug
    .content-wrapper
      #content(role='main'): block content
      include _partial/sidebar.pug
    include _partial/footer.pug
