extends base

block title
  if page.category
    = page.category
    != ' &laquo; '
    = config.title
  else
    if page.tag
      != '&ldquo;'
      = page.tag
      != '&rdquo; Tag &laquo; '
      = config.title
    else
      if config.subtitle
        = config.title + ' | ' + config.subtitle
      else
        = config.title

block content
  if page.tag || page.category
    h1
      if page.category
        | Posts categorized &ldquo;
        = page.category
        | &rdquo;
      else
        | Posts tagged &ldquo;
        = page.tag
        | &rdquo;
    hr.home-break
  for post in page.posts.toArray()
    article.auto
      div
        h1.home-title.
          #[small.home-lead= post.date.format('MMMM D, YYYY')]#[br]
          &nbsp; #[a(href=url_for(post.path) title='Permalink to ' + post.title)!= post.title]
      .entry-content!= post.content
      small
        = 'Categorized under '
        include _partial/post-categories.pug
        br
      include _partial/post-tags.pug
    br
    hr.home-break

  .bottom-nav(role='navigation')
    .nav-previous
      if page.prev
        a(href=url_for(page.prev_link)) &laquo; Newer Posts
    .nav-next
      if page.next
        a(href=url_for(page.next_link)) Older Posts &raquo;
