header
  .header-logo
    a(href='/')
      img(src='/img/bitbadger.png'
          alt='A cartoon badger looking at a computer screen, with his paw on a mouse'
          title='Bit Badger Solutions')
  .header-title: a(href='/') The Bit Badger Blog
  .header-spacer &nbsp;
  .header-social
    a(href='/feed.xml' title='Subscribe to The Bit Badger Blog via RSS')
      img(src='/img/rss.png' alt='RSS')
    | &nbsp; &nbsp;
    a(href='https://twitter.com/Bit_Badger' title='Bit_Badger on Twitter')
      img(src='/img/twitter.png' alt='Twitter' )
    | &nbsp; &nbsp;
    a(href='https://www.facebook.com/bitbadger.solutions' title='Bit Badger Solutions on Facebook')
      img(src='/img/facebook.png' alt='Facebook')
